lmdb==1.7.3
matplotlib==3.10.6
MedPy==0.5.2
numpy==1.26.4 # Version must be <2 to use script
opencv-python==4.11.0.86 # Not the latest version to work with numpy 1.26.4
pandas==2.3.2
pillow==11.3.0
PyYAML==6.0.2
scikit-image==0.25.2
scipy==1.15.3
six==1.17.0
tensorboard==2.20.0
tensorboardX==2.6.4
torch==1.12.1
# Didn't use torchvision==0.15.2 because it is incompatible with torch==1.12.1
torchvision==0.13.1
tqdm==4.67.1
